<template>
    <div>
        <ChatBotToggler v-if="showToggler" @togglerClick="onTogglerClick">
            <slot name="bot-open-message" slot="bot-open-message"></slot>
        </ChatBotToggler>
        <ChatBotModal v-else @closeModal="onCloseModal">
            <slot v-for="(_, name) in $slots" :name="name" :slot="name" />
        </ChatBotModal>
    </div>
</template>

<script>
import ChatBotModal from "./chat-bot/ChatBotModal";
import ChatBotToggler from "./chat-bot/ChatBotToggler";

export default {
    name: "ChatBotWidget",
    data() {
        return {
            showToggler: {
                type: Boolean,
                default: true,
            }
        }
    },
    components: {
        ChatBotToggler,
        ChatBotModal,
    },
    methods: {
        onTogglerClick() {
            this.showToggler = false;
        },
        onCloseModal() {
            this.showToggler = true;
        },
        showModal () {
            setTimeout(() => {
                this.showToggler = false
            }, 30000);
        },
    },
    mounted() {
        this.showModal();
    }
}
</script>

<style scoped>

</style>
