<template>
    <div class="chat-bot-toggler" @click="emitTogglerClick">
        <slot name="bot-open-message"></slot>
    </div>
</template>

<script>
export default {
    name: "ChatBotToggler",
    methods: {
        emitTogglerClick() {
            this.$emit('togglerClick');
        }
    }
}
</script>

<style scoped>
.chat-bot-toggler {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 1999;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: #1fb141;
    box-shadow: 0 1px 6px 0 rgb(0 0 0 / 6%), 0 2px 32px 0 rgb(0 0 0 / 16%);
}
.chat-bot-toggler:hover {
    transform: scale(1.07);
}
</style>
