<template>
    <div class="chat-bot">
        <div class="chat-bot__wrapper">
            <section class="chat-bot__section">
                <div class="chat-bot__header-wrapper">
                    <slot name="bot-message"></slot>
                    <div class="chat-bot__header-text">Помогу с выбором вакансии!</div>
                    <button class="chat-bot-btn__round"
                            @click="emitCloseModal"
                    >
                        <slot name="bot-close"></slot>
                    </button>
                </div>
                <div class="chat-bot__chat-container">
                    <div class="chat-bot__chat-wrapper">
                        <div class="chat-bot__messages-container">
                            <div class="chat-bot__messages-scroll" ref="messagesScroll">
                                <div class="chat-bot__messages-wrapper">
                                    <template v-for="(value, index) in messagesHistory">
                                        <MessageItem
                                            :key="index"
                                            :index="index"
                                            :message="value"
                                            :bot-type-message="BOT_TYPE_MESSAGE"
                                            @messageButtonClick="saveBtnAnswer"
                                            @uploadFile="onUploadFile"
                                        >
                                            <slot name="bot-avatar" slot="bot-avatar"></slot>
                                        </MessageItem>
                                    </template>
                                    <pulse-loader v-show="showMessageSpinner" color="#c5c0c0"
                                                  size="7px" loading="loading"
                                                  style="text-align: left;margin-left: 5px">
                                    </pulse-loader>
                                </div>
                            </div>
                        </div>

                        <div class="chat-bot__message-input-wrapper">
                            <input class="chat-bot__message-input" placeholder="Введите сообщение"
                                   v-if="!showCityAutocomplete && !showUploadFileInfo && !showPhoneInput"
                                   v-model="inputText" @keyup.enter="saveInputAnswer"
                            >
                            <PhoneInputComponent
                                v-if="showPhoneInput"
                                class="chat-bot__message-input"
                                fieldname="phone"
                                v-model="inputText"
                                @keyupEnter="saveInputAnswer"
                            />
                            <CityAutocomplete v-if="showCityAutocomplete"
                                              ref="city-autocomplete"
                                              @cityInputText="onCityInputText"
                                              @selectCityObj="onSelectCityObj"
                            />
                            <div v-if="showUploadFileInfo" class="chat-bot__message-file-info-container">
                                <span class="chat-bot__message-file-info" v-model="user.resume">
                                    {{ user.resume.name }}
                                </span>
                                <span class="chat-bot__message-file-info-remove" @click="removeUploadFile">
                                    <slot name="bot-close"></slot>
                                </span>
                            </div>

                            <button class="chat-bot-btn__round" @click="saveInputAnswer">
                                <slot name="bot-send-message"></slot>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</template>

<script>
import axios from "axios";
import PulseLoader from 'vue-spinner/src/PulseLoader.vue';
import MessageItem from "./MessageItem";
import CityAutocomplete from "./CityAutocomplete";
import PhoneInputComponent from "../form-parts/PhoneInputComponent";

const _ = require('lodash');

const BOT_TYPE_MESSAGE = 'bot';
const USER_TYPE_MESSAGE = 'user';
const MAX_INPUT_CITY_ATTEMPTS_COUNT = 5;
const INPUT_QUESTION_TYPE = 'input';
const INPUT_CITY_QUESTION_TYPE = 'input_city';
const INPUT_PHONE_QUESTION_TYPE = 'input_phone';
const BUTTON_QUESTION_TYPE = 'button';

export default {
    name: "ChatBotModal",
    data() {
        return {
            BOT_TYPE_MESSAGE,
            USER_TYPE_MESSAGE,
            MAX_INPUT_CITY_ATTEMPTS_COUNT,
            INPUT_QUESTION_TYPE,
            INPUT_CITY_QUESTION_TYPE,
            BUTTON_QUESTION_TYPE,
            showMessageSpinner: true,
            inputText: null,
            messagesHistory: [],
            unvisitedButtons: null,
            nextMessageId: null,
            showCityAutocomplete: false,
            user: {
                cityCode: null,
                slug: null,
                vacancyId: null,
                resume: null,
            },
            inputCityAttemptsCount: 1,
            showUploadFileInfo: false,
            uploadFileButtonIndex: null,
            showPhoneInput: false,
        }
    },
    components: {
        CityAutocomplete,
        MessageItem,
        PulseLoader,
        PhoneInputComponent,
    },
    watch: {
        messagesHistory: function () {
            this.$nextTick(function() {
                const scroll = this.$refs.messagesScroll;
                scroll.scrollTop = scroll.scrollHeight;
            });
        }
    },
    methods: {
        saveInputAnswer() {
            if ((this.inputText === null || this.inputText.trim() === '') && !this.user.resume) {
                return false;
            }

            if (this.showPhoneInput) {
                if (this.inputText.length !== 18){
                    return false;
                }
            }

            this.clearChildrenAutocompleteInput();
            this.showMessageSpinner = true;

            if (this.showUploadFileInfo) {
                this.addToMessageHistory(this.USER_TYPE_MESSAGE, {question: this.user.resume.name});
                this.showUploadFileInfo = false;
                this.hideButtons(this.uploadFileButtonIndex);
            } else {
                this.addToMessageHistory(this.USER_TYPE_MESSAGE, {question: this.inputText});
            }

            if (this.showCityAutocomplete) {
                if (this.inputCityAttemptsCount === this.MAX_INPUT_CITY_ATTEMPTS_COUNT) {
                    this.getNextMessageIdByScenario('after_error');
                } else {
                    this.getNextMessageIdByScenario('error');
                    this.inputCityAttemptsCount++;
                }
            }

            if (this.unvisitedButtons) {
                this.answerToQuestion('Выберите вариант из предложенных кнопок')
            } else if (this.nextMessageId){
                this.getNextMessage(this.nextMessageId, this.inputText);
            }

            this.inputText = null;
        },
        saveBtnAnswer(index, { id, text, slug, vacancy_id }) {
            this.addToMessageHistory(this.USER_TYPE_MESSAGE, {question: text});

            if (slug) {
                this.user.slug = slug;
            }

            if (vacancy_id) {
                this.user.vacancyId = vacancy_id;
            }

            this.showMessageSpinner = true;
            this.hideButtons(index);

            this.getNextMessage(id);
        },
        answerToQuestion(text) {
            this.addToMessageHistory(this.BOT_TYPE_MESSAGE, {question: text});
        },
        getCurrentTime() {
            return new Date().toLocaleTimeString().slice(0, -3);
        },
        getStartMessage() {
            axios.get('/bot/start').then((res) => {
                this.showMessageSpinner = false;
                this.addToMessageHistory(this.BOT_TYPE_MESSAGE, res.data);
            }).catch(error => {
                console.log(error)
            });
        },
        getNextMessage(id, inputText = '') {
            let formData = new FormData();
            formData.append('id', id);

            if (inputText) {
                formData.append('input', inputText);
            }

            if (this.user.cityCode) {
                formData.append('city_code', this.user.cityCode);
            }

            if (this.user.slug) {
                formData.append('slug', this.user.slug);
            }

            if (this.user.vacancyId) {
                formData.append('vacancy_id', this.user.vacancyId);
            }

            if (this.user.resume) {
                formData.append('resume', this.user.resume);
            }

            const headers =  {
                'Content-Type': 'multipart/form-data'
            };

            axios.post('/bot/answer', formData, {headers}).then((res) => {
                this.getNextMessageIdFromInput(res.data);

                this.showCityAutocomplete = res.data.question_type === INPUT_CITY_QUESTION_TYPE;
                this.showPhoneInput = res.data.question_type === INPUT_PHONE_QUESTION_TYPE;

                this.showMessageSpinner = false;
                this.addToMessageHistory(this.BOT_TYPE_MESSAGE, res.data);
            }).catch(error => {
                console.log(error)
            });
        },
        formatObjToMessageHistory(type, {question, question_type, answers = ''}) {
            let obj = {
                type: type,
                text: question,
                time: this.getCurrentTime(),
            };

            if (answers.length !== 0) {
                obj.buttons = answers;
                if (question_type === BUTTON_QUESTION_TYPE) {
                    obj.showButtons = true;
                    this.unvisitedButtons = true;
                }
            }

            return obj;
        },
        addToMessageHistory(type, data) {
            this.messagesHistory.push(this.formatObjToMessageHistory(type, data));
        },
        emitCloseModal(){
            this.$emit('closeModal');
        },
        scrollToEnd() {
            const scroll = this.$refs["messages-scroll"];
            scroll.scrollTop = scroll.scrollHeight;
        },
        onCityInputText(val) {
            this.inputText = val;
            this.getNextMessageIdByScenario('error');
        },
        getNextMessageIdFromInput({ answers, question_type }) {
            if (answers) {
                if (question_type === INPUT_QUESTION_TYPE || question_type === INPUT_CITY_QUESTION_TYPE || question_type === INPUT_PHONE_QUESTION_TYPE) {
                    this.nextMessageId = answers[0].id;
                } else {
                    this.nextMessageId = null;
                }
            }
        },
        getNextMessageIdByScenario(scenario) {
            const lastInputMessageButtons = this.messagesHistory[this.messagesHistory.length - 2].buttons;
            let id;

            for (let key in lastInputMessageButtons) {
                if (lastInputMessageButtons[key].scenario === scenario) {
                    id = lastInputMessageButtons[key].id;
                }
            }

            this.nextMessageId = id;
        },
        onSelectCityObj(city) {
            this.inputText = null;
            this.addToMessageHistory(this.USER_TYPE_MESSAGE, {question: city.fullname});
            this.showMessageSpinner = true;
            this.showCityAutocomplete = false;
            this.user.cityCode = city.cdek_id;
            this.getNextMessageIdByScenario('success');
            this.getNextMessage(this.nextMessageId);
        },
        onUploadFile(file, fileButtonIndex, nextMessageId) {
            this.user.resume = file;
            this.showUploadFileInfo = true;
            this.uploadFileButtonIndex = fileButtonIndex;
            this.nextMessageId = nextMessageId;
        },
        removeUploadFile() {
            this.user.resume = null;
            this.showUploadFileInfo = false;
        },
        clearChildrenAutocompleteInput()  {
            let CityAutoCompleteComponent = this.$refs["city-autocomplete"];

            if (CityAutoCompleteComponent) {
                CityAutoCompleteComponent.inputCityText = null;
                CityAutoCompleteComponent.showSelectCity = false;
            }
        },
        hideButtons(index) {
            this.messagesHistory[index].showButtons = false;
            this.unvisitedButtons = false;
        },
    },
    mounted() {
        this.getStartMessage();
    }
}
</script>

<style scoped lang="scss">
$bot-color-1: #cde9cd;
$bot-color-2: #9fbd97;
$bot-color-3: #033a19;

.chat-bot {
    position: fixed;
    z-index: 2000;
    width: 400px;
    max-height: 700px;
    height: calc(100% - 20px);
    box-shadow: rgb(0 0 0 / 15%) 0 3px 46px 3px;
    border-radius: 10px;
    overflow: hidden;
    right: 10px;
    bottom: 10px;
    transition: all 0.5s ease 0s;
    &__wrapper {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        display: flex;
        height: 100%;
    }
    &__section {
        width: 100%;
        height: 100%;
        background: #fff;
        display: flex;
        flex-direction: column;
        overflow-y: hidden !important;
    }
    &__header-wrapper {
        display: flex;
        align-items: center;
        padding: 14px 16px 12px 16px;
        box-shadow: 0 10px 10px -2px rgb(0 0 0 / 4%);
        user-select: none;
        position: relative;
        z-index: 1;
        background: $bot-color-1;
        color: $bot-color-3;
        & .chat-bot__header-text {
            font-size: 14px;
            font-weight: 500;
            flex: 1;
            margin-left: 20px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    &-btn__round {
        width: 30px;
        height: 30px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        padding: 0;
        outline: none;
        cursor: pointer;
        transition: all 0.3s;
        background: $bot-color-2;
        &:hover {
            background: #859e7d;
            transform: scale(1.07);
        }
        &>* {
            transform: scale(0.875);
        }
        & svg {
            transition: all 0.3s;
        }
        &[disabled] {
            background: #fff;
            box-shadow: 0 0 0 1px rgb(123 136 149 / 16%), 0 1px 1px rgb(0 0 0 / 12%);
            cursor: not-allowed;
        }
        &[disabled]>* {
            opacity: .5;
        }
        &[disabled]>svg {
            fill: rgba(123,136,149,.5);
        }
    }
    &__chat {
        &-container {
            position: relative;
            width: 100%;
            flex: 1;
            overflow: hidden;
        }
        &-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    &__messages {
        &-container {
            position: relative;
            overflow: hidden;
            flex: 1;
        }
        &-scroll {
            overflow-y: auto;
            height: 100%;
        }
        &-wrapper {
            padding: 16px 16px 10px;
            position: relative;
            overflow: visible;
            display: flex;
            flex-direction: column;
        }

    }
    &__message {
        &-input-wrapper {
            padding: 10px 16px;
            display: flex;
            align-items: center;
            box-shadow: 0 -10px 10px -2px rgb(0 0 0 / 4%);
            border-radius: 15px 15px 0 0;
            background: #fff;
        }
        &-input {
            max-height: 100px !important;
            margin-right: 16px;
            flex: 1;
            border: 0;
            outline: 0;
            resize: none;
            font: 400 14px/1.5 "Rubik", sans-serif;
            background: transparent;
            color: #000000;
        }
        &-file-info-container {
            display: flex;
            flex:1;
            align-items: center;
        }
        &-file-info-remove {
            width: 20px;
            height: 20px;
            margin-left: 10px;
            cursor: pointer;
        }
        &-file-info-remove svg {
            fill: black;
        }
    }
}
@media (max-width: 400px) {
    .chat-bot {
        width: calc(100% - 15px);
    }
}
</style>
