<template>
    <div style="flex: 1;margin-right: 16px">
        <input class="chat-bot__message-input"
               style="margin-right: 0; width: 100%"
               placeholder="Введите и выберите город"
               autocomplete="off"
               v-model="inputCityText"
               @input="debounceSearch"
        >

        <div v-show="showSelectCity" class="autocomplete-suggestions">
            <div class="autocomplete-suggestion" v-for="city in cities"
                 :key="city.cdek_id"
                 @click="selectCity(city)"
            >
                {{city.fullname}}
            </div>
        </div>
    </div>

</template>

<script>
import axios from "axios";

const _ = require('lodash');

export default {
    name: "CityAutocomplete",
    data() {
        return {
            entries: [],
            showSelectCity: false,
            selectedCityObj: null,
            inputCityText: null,
        }
    },
    computed: {
        cities() {
            return this.entries;
        },
    },
    methods: {
        async searchCities(cityText) {
            if (cityText == null || cityText.length !== undefined && cityText.length < 1) {
                this.showSelectCity = false;
                return
            }

            this.$emit('cityInputText', cityText);

            axios.get('/autocomplete/city/' + cityText).then((res) => {
                this.entries = res.data;
                this.showSelectCity = true;
            }).catch(error => {
                console.log(error)
            });
        },
        selectCity(city) {
            this.showSelectCity = false;
            this.selectedCityObj = city;
            this.$emit('selectCityObj', this.selectedCityObj);
        },
        debounceSearch: _.debounce(function (event) {
            this.searchCities(event.target.value)}, 400),

    },

}
</script>

<style scoped>
.chat-bot__message-input {
     max-height: 100px !important;
     margin-right: 16px;
     flex: 1;
     border: 0;
     outline: 0;
     resize: none;
     font: 400 14px/1.5 "Rubik", sans-serif;
     background: transparent;
     color: #000000;
}

.autocomplete-suggestions {
    position: absolute;
    max-height: 300px;
    z-index: 9999;
    bottom: 70px;
    left: 1px;
    width: 400px;
    background: #FFFFFF;
    box-shadow: 0 0 15px rgb(0 0 0 / 10%);
    overflow-y: scroll;
}
.autocomplete-suggestions .autocomplete-suggestion {
    line-height: 1.2;
    cursor: pointer;
    padding: 10px 12px;
    font-weight: 400;
}
@media (max-width: 1199px) {
    .autocomplete-suggestions .autocomplete-suggestion {
        font-size: 14px;
    }
}
@media (min-width: 1200px){
    .autocomplete-suggestions .autocomplete-suggestion {
        font-size: 16px;
    }
}
.autocomplete-suggestions .autocomplete-suggestion strong {
    color: #1AB248;
}
</style>
