<template>
    <div class="chat-bot__message-item"
         :class="messageTypeClass"
    >
        <div class="chat-bot__message-box">
            <div class="chat-bot__message-content">
                <div class="chat-bot__message-body" v-html="message.text">
                </div>
                <div v-if="message.buttons && message.showButtons"
                     class="chat-bot__message-btn-container"
                >
                    <div class="chat-bot__message-btn-wrapper">
                        <button v-for="(val, key) in message.buttons"
                                :key="key"
                                class="chat-bot__message-btn"
                                type="button" :data-id="val.id" :data-slug="val.slug" :data-vacancy-id="val.vacancy_id"
                                @click="emitMessageButtonClick(index, val)"
                        >
                            {{ val.text }}
                        </button>
                        <input v-show="showInputFile" type="file" id="file" ref="file" @change="handleFileUpload"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="chat-bot__message-last">
            <div v-if="message.type === botTypeMessage"
                 class="chat-bot__message-bot-avatar"
            >
                <slot name="bot-avatar"></slot>
            </div>
            <div class="chat-bot__message-time">
                {{ message.time }}
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "MessageItem",
    props: {
        message: {
            type: Object,
            default: null
        },
        botTypeMessage: {
            type: String,
            required: true
        },
        index: {
            type: Number
        }
    },
    data(){
        return {
            file: '',
            showInputFile: false,
            fileBtnIndex: null,
            nextMessageIdAfterUpload: null,
        }
    },
    computed: {
        messageTypeClass() {
            return 'chat-bot__message-' + this.message.type;
        }
    },
    methods: {
        emitMessageButtonClick(index, val) {
            if (val.type === 'file') {
                this.showInputFile = true;
                this.fileBtnIndex = index;
                this.addFiles();
                this.showInputFile = false;
                this.nextMessageIdAfterUpload = val.id;
            } else {
                this.$emit('messageButtonClick', index, val);
            }
        },
        addFiles() {
            this.$refs.file.click();
        },
        handleFileUpload() {
            this.file = this.$refs.file.files[0];
            this.$emit('uploadFile', this.file, this.fileBtnIndex, this.nextMessageIdAfterUpload);
        }
    },
}
</script>

<style scoped lang="scss">
$bot-color-1: #cde9cd;
$bot-color-2: #9fbd97;
$bot-color-3: #033a19;

input[type="file"]{
    position: absolute;
    top: -500px;
}

.chat-bot{
    &__message {
        &-item {
            line-height: 20px;
            display: flex;
            flex-direction: column;
        }
        &-item:not(:last-child) {
            margin-bottom: 20px;
        }
        &-bot {
            align-items: flex-start;
            & .chat-bot__message-body {
                background: #f5f5f5;
                color: #1a1919 !important;
                position: relative;
            }
            & .chat-bot__message-time {
                margin-top: 10px;
            }
        }
        &-bot>* {
            align-self: flex-start;
        }
        &-user {
            &>* {
                align-self: flex-end;
            }
            & .chat-bot__message-body {
                background: $bot-color-1;
                color: $bot-color-3 !important;
            }
            & .chat-bot__message-content {
                align-items: flex-end;
            }
        }
        &-box {
            width: 90%;
            max-width: 346px;
            word-break: break-word;
        }
        &-content {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &-body {
            max-width: 100%;
            font-size: 14px;;
            line-height: 20px;
            border-radius: 8px;
            padding: 10px 14px;
            box-shadow: 0 0 0 1px rgba(245,245,245, 0.16), 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.08);
        }
        &-last {
            margin-top: 5px;
            display: flex;
            align-items: center;
        }
        &-bot-avatar {
            display: flex;
            justify-content: center;
            border-radius: 50%;
            overflow: hidden;
            width: 32px;
            height: 32px;
            margin-right: 10px;
            &>* {
                width: 100%;
                height: 100%;
                vertical-align: middle;
            }
        }
        &-time {
            color: #888585;
            font-size: 14px;
            display: flex;
            align-items: center;
        }
        &-btn-container {
            margin-top: 8px;
            width: 100%;
            max-width: 400px;
            max-height: 9999px;
        }
        &-btn-wrapper {
            margin: 0 calc(8px / -2) calc(8px * -1);
            display: flex;
            flex-wrap: wrap;
        }
        &-btn {
            font: 500 14px/1.5 "Rubik", sans-serif;
            line-height: 20px;
            border-radius: 8px;
            padding: 10px 14px;
            background: #FFFFFF;
            color: #40a740;
            box-shadow: 0 0 0 1px rgba(245,245,245, 0.16), 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.08);
            display: flex;
            align-items: center;
            text-align: left;
            border: solid 0.1px #40a740;
            outline: none;
            margin: 0 calc(8px / 2) 8px;
            cursor: pointer;
            &:hover {
                border: solid 0.2px #226f22;
                box-shadow: 0 0 0 1px rgba(0,188,76, 0.16), 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 5px rgba(0, 0, 0, 0.08) ,0 3px 9px rgba(79,79,79,.15);
                transform: scale(1.02);
            }
        }
    }
}
</style>
